@model IEnumerable<BlogApp.Models.Post>

@{
    ViewData["Title"] = "Posts";
    Layout = "_AdminLayout";
}



<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card" style="overflow: hidden;">
    <table class="table table-stack mb-0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Publish Date</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-label="Title">@item.Title</td>
                    <td data-label="Category">@item.Category?.Name</td>
                    <td data-label="Publish Date">@item.PublishDate.ToShortDateString()</td>
                    <td data-label="Active">@(item.IsActive ? "Yes" : "No")</td>
                    <td data-label="Actions">
                        <a asp-action="Details" asp-route-id="@item.Id">View</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>